@import 'global';

.home {
  height: 100vh;
  background: $primary;
  padding-top: unquote('env(safe-area-inset-top)');
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto max-content;
}

.container {
  background-image: radial-gradient(circle at 50% 50%, white 36%, #00d8f9 50%, #00b0f0 100%);
  position: relative;
}
