@import 'global';

.container {
  background-image: radial-gradient(circle at 0px 0px, #00b0f0 10%, rgba(0, 0, 255, 0) 60%, #00d8f9 100%);
}
:host {
  display: block;
  padding-top: unquote('env(safe-area-inset-top)');
}

.search {
  background: $white;
  height: 46px;
}
