<div class="resource">
  <button class="resource-button" mat-ripple (click)="addNewFile()" *ngIf="uid === owner">
    <pang-icon url="assets/img/resource.svg" name="resources"></pang-icon>
    <span class="text">Resources</span>
  </button>

  <div style="display: flex">
    <button mat-ripple class="circle" style="margin-right: 59px" (click)="viewImage()">
      <pang-icon url="assets/img/icon-image.svg" name="image"></pang-icon>
      <span class="text-blue">Images</span>
    </button>
    <button mat-ripple class="circle" (click)="viewDoc()">
      <pang-icon url="assets/img/icon-file.svg" name="file"></pang-icon>
      <span class="text-blue">Documents</span>
    </button>
  </div>

  <button mat-ripple class="circle" (click)="viewVideo()">
    <pang-icon url="assets/img/icon-videos.svg" name="video"></pang-icon>
    <span class="text-blue">Videos</span>
  </button>
</div>
