<pang-welcome-container>
  <ng-container marcoHeader>
    <a routerLink="/welcome">
      <img src="assets/img/icon-back.svg" />
    </a>
    <h1 class="header-title">Login</h1>
  </ng-container>

  <ng-container marcoBody>
    <h1 class="title">Welcome back</h1>
    <p class="description">Hello there, login to continue</p>
    <form [formGroup]="signFom" (ngSubmit)="signIn()" class="signIn-form">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <div class="forgot-password-container">
        <p class="forgot-password-container__label">Forgot password?</p>
      </div>
      <button class="submit-button" pang-button color="primary" [loading]="loading" [disabled]="signFom.invalid">
        Login
      </button>
    </form>
  </ng-container>
</pang-welcome-container>
