<div class="root" #root @circles>
  <div id="group" class="group">
    <div class="user-spare circle">
      <div class="user-avatar circle">
        <pang-avatar-with-label
          class="user-avatar__image image{{ nameCode }}"
          [size]="94"
          [userAvatar]="user.imgUrl"
          *ngIf="user"
        ></pang-avatar-with-label>
        <span class="user-badge badge{{ nameCode }}">
          {{ nameCode }}
        </span>
      </div>

      <div class="user-options">
        <p class="user-name" @info>My connections</p>
        <div class="more" @info>
          <button pang-flat-button>Show more</button>
          <button class="user-option" (click)="filter()">
            <img src="assets/img/icon-filter.svg" />
          </button>
        </div>
      </div>

      <div [@listAnimation]="users.length">
        <div *ngFor="let item of users; let i = index" class="user-avatar{{ i + 2 }} circle">
          <pang-avatar-with-label
            class="user-avatar{{ i + 2 }}__image image{{ item.role }}"
            [size]="94"
            [userAvatar]="item.avatar ? item.avatar : ''"
            (click)="goToUser(item.uid)"
            *ngIf="i <= 5"
          ></pang-avatar-with-label>
          <span class="flag">{{ item.country | countryFlag }}</span>
        </div>

        <div class="user-action user-connection" style="display: none">
          <div class="user-action__data hideZoom">
            <pang-icon
              class="icons"
              url="assets/img/icon-connections.svg"
              name="connection"
            ></pang-icon>
            <span class="user-action__text">Connections</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
