@import 'global.scss';

.wrapper-container {
  padding: 48px 34px;
  .card-container {
    margin-top: 24px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(129, 127, 127, 0.14);
    background-color: $white;
    padding: 20px 20px 0px 20px;
  }
}
