@import 'global.scss';

.header {
  &__title {
    @include h1;
    color: $white;
    margin-top: 12px;
  }
}

.success-icon {
  display: block;
  width: 120px;
  margin: 0 auto;
}

.subtitle {
  margin-top: 42px;
}

.label {
  @include text($body2Size, $gray, 500);
  margin-top: 12px;
  margin-bottom: 42px;
}

.button {
  display: block;
  width: 100%;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  &__label {
    @include text($bodySize, $green, 500);
    text-align: center;
    text-decoration: underline;
    margin: 0;
  }
}
