<pang-welcome-container>
  <ng-container marcoHeader>
    <h1 class="header__title">Congrats!</h1>
  </ng-container>

  <ng-container marcoBody>
    <img src="assets/img/success-sign-up.svg" class="success-icon" />
    <h2 class="subtitle">Successful!</h2>
    <p class="label">Your registration was succesfull. Now you’re part. of New Pangea!</p>
    <div class="logout-container" (click)="logOut()">
      <p class="logout-container__label">Logout</p>
    </div>
  </ng-container>
</pang-welcome-container>
