<img src="assets/img/signup.svg" class="header__image" />

<div class="header">
  <h1 class="header__title">Congrats!</h1>
</div>

<div class="confirm">
  <img src="assets/img/success-sign-up.svg" class="success-icon" />
  <h2 class="subtitle">Successful!</h2>
  <p class="label">Your registration was succesfull. Now you’re part. of New Pangea!</p>
  <button class="button" pang-flat-button color="primary">Go to home</button>
  <div class="logout-container">
    <p class="logout-container__label">Logout</p>
  </div>
</div>
