@import 'global.scss';



.header {
  &__title {
    @include h1;
    color: $white;
    margin-top: 12px;
  }
}

.sigUp-container {
  &__description {
    @include body;
    margin: 12px 0 20px;
  }

  &__form {
    display: grid;
  }
}

.toggle-container {
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
