<mat-drawer-container class="container2" hasBackdrop="true">
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-icon class="active">menu</mat-icon>
      <div class="divider"></div>
      <mat-icon class="disabled">person</mat-icon>
      <mat-icon class="active">account_balance</mat-icon>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content select="[marcoBody]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-drawer-container>
