@import 'global';

.container {
  height: 80vh;
}

.search {
  width: 100%;

  &-input {
    height: 52px;
    border-radius: 26px;
    border: solid 1px #ffffff;
    background-color: rgba(154, 161, 163, 0.1);
    width: 100%;
    padding: 0 40px 0 16px;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    font-size: 17px;

    &::placeholder {
      color: #b1b1b1;
      font-size: 17px;
    }

    &:focus {
      outline: none;
    }

    &.focus {
      border-radius: 0;
      border-color: transparent;
      background-color: $white;
      &::placeholder {
        color: $subText;
      }
    }
  }

  &-list {
    position: absolute;
    width: 100%;
    left: 0;
    max-height: 443px;
    overflow: auto;
    border-top: 1px solid $subText;
    border-bottom: 1px solid $subText;
    background: $white;
  }

  &-icon {
    color: #b1b1b1;
    position: absolute;
    right: 36px;
    top: 14px;
    transition: all 0.5s ease-out;

    &.focus {
      color: $secondary;
    }
  }
  &-title {
    @include body2;
  }
  &-link {
    @include body2;
    color: $secondary;
  }
  &-result {
    padding: 18px 12px;
    &__header {
      display: flex;
      justify-content: space-between;
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
      width: 147px;
      margin: 24px 0 12px;
    }
    &__title {
      @include subtitle;
      max-width: 215px;
      margin-bottom: 8px;
      text-align: center;
    }
    &__description {
      @include body2;
      max-width: 215px;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .mat-form-field-flex {
    padding: 0 10px;
  }
}

.sub {
  @include text($captionSize, $gray8, 500);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.secuential {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 50px auto 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  .name {
    @include text($subtitle2Size, $black, bold);
  }
  .sub {
    text-align: left;
    @include text($body2Size, $gray, 500);
  }
}

.members-container {
  overflow-y: scroll;
  height: auto;
  max-height: 46vh;
  padding: 0 26px 0 26px;
  margin-bottom: 20px;
}

.selected {
  background-color: rgba(216, 216, 216, 0.2);
  margin: 17px 0 20px;
  padding: 13px 139px 11px 16px;
  display: flex;
  overflow-x: scroll;
}

.member {
  padding-right: 10px;
}

.search-box {
  padding-left: 26px;
  padding-right: 26px;
}

.grouped-with-close {
  position: relative;
}

.close-icon {
  width: 10px;
  height: 10px;
  padding: 4px;
  background-color: #ff535b;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  position: absolute;
  left: 26px;
  bottom: 24px;
}

.add-container {
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
}

.btn-basic {
  width: 90%;
}
