<pang-template title="Add document" (back)="closeModal()">
  <ng-container body>
    <pang-icon url="assets/img/icon-folder.svg" name="folder" class="folder"></pang-icon>

    <mat-radio-group class="selectType" [(ngModel)]="resourceType">
      <mat-radio-button [value]="resourceTypes.IMAGE" color="primary">Image</mat-radio-button>
      <mat-radio-button [value]="resourceTypes.VIDEO" color="primary">Video</mat-radio-button>
      <mat-radio-button [value]="resourceTypes.FILE" color="primary">Document</mat-radio-button>
    </mat-radio-group>

    <form autocomplete="off" class="fom" [formGroup]="fileGroup" (ngSubmit)="saveFile()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          aria-label="Name"
          placeholder="Name (give a name to this document)"
          formControlName="name"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="resourceType == resourceTypes.VIDEO">
        <mat-label>Url</mat-label>
        <input
          matInput
          aria-label="Name"
          placeholder="URL (Vimeo or Youtube)"
          formControlName="url"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <textarea
          formControlName="description"
          matInput
          placeholder="Document’s description"
          [mat-autosize]="false"
          rows="5"
        ></textarea>
      </mat-form-field>

      <label
        class="uploadFile"
        mat-ripple
        [class.update]="file"
        *ngIf="resourceType != resourceTypes.VIDEO"
      >
        <input
          type="file"
          formControlName="file"
          #inpFile
          (ngModelChange)="changeFile(inpFile.files)"
          [accept]="acceptType"
        />
        <span>
          <mat-icon style="vertical-align: middle">cloud_upload</mat-icon> Upload document
        </span>

        <span class="load-file" [ngStyle]="{ height: completeUpload + 'px' }"></span>
      </label>

      <mat-slide-toggle formControlName="isPublic" color="primary" class="slide">
        Make this document public
      </mat-slide-toggle>

      <button pang-button color="primary" [disabled]="fileGroup.invalid" [loading]="load">
        Post this document
      </button>
    </form>
  </ng-container>
</pang-template>
