@import 'global';

.search-content {
  position: absolute;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.search {
  width: 100%;

  &-input {
    height: 52px;
    border-radius: 26px;
    border: solid 1px #ffffff;
    background-color: rgba(255, 255, 255, 0.37);
    width: 100%;
    padding: 0 40px 0 16px;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    font-size: 17px;

    &::placeholder {
      color: $white;
      font-size: 17px;
    }

    &:focus {
      outline: none;
    }

    &.focus {
      border-radius: 0;
      border-color: transparent;
      background-color: $white;
      &::placeholder {
        color: $subText;
      }
    }
  }

  &-list {
    position: absolute;
    width: 100%;
    left: 0;
    max-height: 443px;
    overflow: auto;
    border-top: 1px solid $subText;
    border-bottom: 1px solid $subText;
    background: $white;
  }

  &-icon {
    color: $white;
    position: absolute;
    right: 16px;
    top: 14px;
    transition: all 0.5s ease-out;

    &.focus {
      color: $secondary;
    }
  }
  &-title {
    @include body2;
  }
  &-link {
    @include body2;
    color: $secondary;
  }
  &-result {
    padding: 18px 12px;
    &__header {
      display: flex;
      justify-content: space-between;
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
      width: 147px;
      margin: 24px 0 12px;
    }
    &__title {
      @include subtitle;
      max-width: 215px;
      margin-bottom: 8px;
      text-align: center;
    }
    &__description {
      @include body2;
      max-width: 215px;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .mat-form-field-flex {
    padding: 0 10px;
  }
}

.divide {
  border-top: 1px solid $subText;
}

.btn-user {
  display: block;
  border: none;
  background: transparent;
  padding: 0;
  width: 100%;
  text-align: left;
}
