@import 'global';

$circleSize: 596px;

.user {
  min-height: 100vh;
  position: relative;
  display: block;
  background-image: linear-gradient(to bottom, $neon-blue, $primary);
  overflow: hidden;

  &-back {
    padding: 16px;
    height: 27px;
    display: inline-block;
    position: absolute;
    top: 20px;
  }

  &-badge {
    padding: 4px 8px;
    border-radius: 20px;
    background-color: $secondary;
    @include text($subtitleSize, $white, 500);
    text-align: center;
    position: relative;
    bottom: 20px;
  }

  &-spare {
    @include circle($circleSize);
    display: block;
    box-shadow: 0 5px 12px 0 $blueDark3;
    border: solid 4px $blue2;
    background-image: linear-gradient(to bottom, rgba($black, 0.6), rgba($blueDark2, 0.6));
    position: absolute;
    top: calc(50% - (#{$circleSize} / 2));
    left: calc(50% - (#{$circleSize} / 2) - 4px);
  }

  &-avatar {
    position: absolute;
    top: -28px;
    left: calc(50% - 47px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      border-radius: 50%;
      border: solid 4px $blue2;
      display: block;
    }
  }

  &-options {
    width: minmax(100vw, $circleSize);
    margin: 100px auto 0;
    height: 100px;
    padding: 16px;
  }

  &-name {
    @include text($subtitleSize, $white, bold);
    text-align: center;
  }

  &-connections {
    display: grid;
    gap: 16px;
    grid-template-columns: max-content max-content;
    margin: 11px auto 0;
    width: fit-content;
    align-items: center;

    .text {
      color: $white;
    }
  }

  &-option {
    @include circle(48px);
    background: $white;
    border: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  &-action {
    @include circle(128px);
    box-shadow: 0 5px 12px 0 rgba($primary, 0.46);
    border: solid 1px $blue2;
    background-image: linear-gradient(to bottom, $neon-blue, $primary);
    display: flex;
    align-items: center;
    justify-content: center;

    &__data {
      display: grid;
      grid-template-columns: 1fr;
      gap: 13px;
      justify-items: center;
    }

    &__text {
      @include body2;
      color: $white;
    }

    &-content {
      display: grid;
      gap: 59px;
      grid-template-columns: repeat(2, max-content);
      width: fit-content;
      margin: 50px auto 0;
    }
  }
}
