@import 'global';
.option {
  display: grid;
  padding: 40px 0;

  &-title {
    margin-bottom: 19px;
  }

  &-delete {
    @include body;
    text-align: left;
    color: $brick;
    background: transparent;
    border: none;
    border-top: 1px solid $gray5;
    padding: 15px 0;

    .icon {
      vertical-align: sub;
      margin-right: 15px;
    }
  }
}
