<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589660899480-tp7m0i75o27ip3ilqspqrfqls2i6r0jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589660899480-tp7m0i75o27ip3ilqspqrfqls2i6r0jo</string>
	<key>API_KEY</key>
	<string>AIzaSyAgvz0ayLQFP3mPgisqRaYpj7YrEFuxMAE</string>
	<key>GCM_SENDER_ID</key>
	<string>589660899480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pappcorn.np</string>
	<key>PROJECT_ID</key>
	<string>newpangea-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>newpangea-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589660899480:ios:2e8c27d8ce2f3c876328ed</string>
	<key>DATABASE_URL</key>
	<string>https://newpangea-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>