<div class="welcome">
  <img src="assets/img/word.svg" class="welcome-word" />
  <div class="welcome-container">
    <h1 class="welcome-container__title">Welcome</h1>
    <p class="welcome-container__text">Manage your work, projects and conections. Copy TBD</p>
    <button pang-button matRipple color="white" routerLink="sign-up">Sign up</button>
    <div class="welcome-container__division">
      <span class="line"></span>
      <span class="text">or</span>
      <span class="line"></span>
    </div>
    <span class="welcome-container__login">
      Already have an account?
      <a class="welcome-container__login__link" routerLink="sign-in">Login here</a>
    </span>
  </div>
</div>
