<div class="teams">
  <button (click)="createTeam()" class="teams-button" mat-ripple *ngIf="uid === owner">
    <pang-icon url="assets/icons/icon-team.svg" name="teams"></pang-icon>
    <span class="text">Teams</span>
  </button>

  <div class="hasTeams" *ngIf="teams && teams.length > 0">
    <div style="display: flex">
      <pang-team [team]="teams[0]" [changeState]="changeState" [owner]="owner"></pang-team>
      <button
        *ngIf="uid === owner && teams.length < 4"
        mat-ripple
        class="circle-white"
        (click)="createTeam()"
        style="margin-left: 59px"
      >
        <pang-icon url="assets/icons/icon-plus-primary.svg" name="plus"></pang-icon>
        <span class="text-blue">Add team</span>
      </button>
      <button
        *ngIf="uid === owner && teams.length >= 4"
        mat-ripple
        class="circle-white"
        style="margin-left: 59px"
      >
        <pang-icon u url="assets/icons/icon-team-primary.svg" name="teams"></pang-icon>
        <span class="text-blue">See all</span>
      </button>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top: 10px">
      <pang-team
        *ngIf="teams.length > 1"
        [team]="teams[1]"
        [changeState]="changeState"
        [owner]="owner"
      ></pang-team>
      <pang-team
        *ngIf="teams.length > 2"
        [team]="teams[2]"
        [changeState]="changeState"
        [owner]="owner"
      ></pang-team>
    </div>
  </div>
  <div class="noTeams" *ngIf="teams && teams.length == 0">
    <p>No teams created</p>
    <button
      *ngIf="uid === owner"
      pang-button
      color="primary"
      style="width: 100%"
      (click)="createTeam()"
    >
      Create a team
    </button>
  </div>
</div>
