<div class="teams">
  <button (click)="createTeam()" class="teams-button" mat-ripple *ngIf="uid === owner">
    <pang-icon url="assets/icons/icon-team.svg" name="teams"></pang-icon>
    <span class="text">Teams</span>
  </button>

  <div class="hasTeams" *ngIf="teams && teams.length > 0">
    <div style="display: flex">
      <div class="user-action" class="circle">
        <!-- <pang-icon url="assets/icons/icon-team.svg" name="team"></pang-icon>
        <span class="text">{{ teams[0].name }}</span> -->

        <pang-team [maxScale]="level2" [scaleFactor]="innerScale"></pang-team>
        <!-- <pang-resources [maxScale]="maxScale" [scaleFactor]="1"></pang-resources> -->
      </div>
      <button
        *ngIf="uid === owner && teams.length < 4"
        mat-ripple
        class="circle-white"
        (click)="createTeam()"
        style="margin-left: 59px"
      >
        <pang-icon url="assets/icons/icon-plus-primary.svg" name="plus"></pang-icon>
        <span class="text-blue">Add team</span>
      </button>
      <button
        *ngIf="uid === owner && teams.length >= 4"
        mat-ripple
        class="circle-white"
        style="margin-left: 59px"
      >
        <pang-icon u url="assets/icons/icon-team-primary.svg" name="teams"></pang-icon>
        <span class="text-blue">See all</span>
      </button>
    </div>
    <button *ngIf="teams.length > 1" mat-ripple class="circle2">
      <pang-icon url="assets/icons/icon-team.svg" name="team"></pang-icon>
      <span class="text">{{ teams[1].name }}</span>
    </button>
    <button *ngIf="teams.length > 2" mat-ripple class="circle2" style="margin-left: 59px">
      <pang-icon url="assets/icons/icon-team.svg" name="team"></pang-icon>
      <span class="text">{{ teams[2].name }}</span>
    </button>
  </div>
  <div class="noTeams" *ngIf="teams && teams.length == 0">
    <p>No teams created</p>
    <button
      *ngIf="uid === owner"
      pang-button
      color="primary"
      style="width: 100%"
      (click)="createTeam()"
    >
      Create a team
    </button>
  </div>
</div>
