<div class="root" #root @circles>
  <div id="group" class="group">
    <div class="user-spare circle">
      <div class="user-avatar circle">
        <pang-avatar-with-label
          class="user-avatar__image"
          [size]="94"
          [userAvatar]="user.imgUrl"
          *ngIf="user"
        ></pang-avatar-with-label>
        <span class="user-badge">
          {{ nameCode }}
        </span>
      </div>

      <div class="user-options">
        <p class="user-name" @info>{{ user?.name }}</p>
        <div class="user-connections" @info *ngIf="user?.objectID !== uid">
          <button pang-flat-button (click)="sendRequest($event)" *ngIf="!connection && !request">
            Make connection
          </button>
          <button
            pang-flat-button
            (click)="cancelRequest($event)"
            *ngIf="connection && connection.status == 0 && !request"
          >
            Cancel request
          </button>
          <span *ngIf="connection && connection.status == 1 && !request" class="text"
            >Connected</span
          >
          <button
            pang-flat-button
            (click)="acceptRequest($event)"
            *ngIf="request && request.status == 0 && !connection"
          >
            Accept request
          </button>
          <span *ngIf="request && request.status == 1 && !connection" class="text">Connected</span>
          <button class="user-option">
            <img src="assets/img/icon-more-options.svg" />
          </button>
        </div>
      </div>
    </div>

    <div class="user-action user-resources">
      <div class="user-action__data hideZoom">
        <pang-icon class="icons" url="assets/img/resource.svg" name="resources"></pang-icon>
        <span class="user-action__text">Resources</span>
      </div>

      <pang-resources
        @root
        *ngIf="showLevel1"
        [scaleFactor]="scaleFactor"
        [maxScale]="this.level1"
        [owner]="uid"
      ></pang-resources>
    </div>

    <div class="user-action user-connection">
      <div class="user-action__data hideZoom">
        <pang-icon
          class="icons"
          url="assets/img/icon-connections.svg"
          name="connection"
        ></pang-icon>
        <span class="user-action__text">Connections</span>
      </div>
    </div>

    <div class="user-action user-teams">
      <div class="user-action__data hideZoom">
        <pang-icon
          class="icons"
          url="assets/icons/icon-team.svg"
          color="primary"
          name="teams"
        ></pang-icon>
        <span class="user-action__text">Teams</span>
      </div>

      <pang-teams
        @root
        *ngIf="showLevel1"
        [scaleFactor]="scaleFactor"
        [maxScale]="this.level1"
        [owner]="uid"
      ></pang-teams>
    </div>
  </div>
</div>
