@import 'global';

.school-search {
  display: grid;
  grid-template-columns: 24px auto;
  gap: 8px;
  margin: 10px 0;
  align-items: center;
  border: none;
  background: transparent;
}

.text {
  @include body2;
  color: $gray6;
}

.btn-school {
  padding: 0;
  width: 100%;
  text-align: left;
}
