<div class="container">
  <div class="secuential">
    <p class="name">{{ user?.name }}</p>
    <p (click)="soon()" class="photoAction">Change image</p>
  </div>
  <div class="schoolInfo">
    <div class="secuential2">
      <p class="schoolData">
        <mat-icon class="data-item-container__icon" svgIcon="new-pangea-pin"></mat-icon>
        {{ address ? address[address.length - 2] : '' }},
        {{ address ? address[address.length - 1] : '' }}
      </p>
      <p class="schoolData">
        <mat-icon class="data-item-container__icon" svgIcon="new-pangea-school"></mat-icon>
        {{ user?.school.name }}
      </p>
    </div>
    <div class="secuential2">
      <p class="schoolData">
        <mat-icon class="data-item-container__icon" svgIcon="new-pangea-mail"></mat-icon>
        {{ user?.email }}
      </p>
      <p class="schoolData">
        <mat-icon class="data-item-container__icon" svgIcon="new-pangea-code"></mat-icon>
        {{ user?.school.name }}
      </p>
    </div>
  </div>
  <hr class="line" />
  <div class="secuential">
    <p class="name">About {{ firstName ? firstName[0] : '' }}</p>
    <p (click)="soon()" class="photoAction">Edit information</p>
  </div>
  <p class="bio">
    {{ user?.bio }}
  </p>
  <hr class="line" />
  <button class="logout-button" (click)="logout()">
    <mat-icon class="data-item-container__icon" svgIcon="new-pangea-logout"></mat-icon>
    Log out
  </button>
</div>
