@import 'global';
:host {
  display: block;
}

.request {
  padding: 19px 16px;
  display: grid;
  gap: 12px;
  grid-template-columns: max-content auto;
  align-content: flex-start;

  .icon {
    width: 30px;
    height: 30px;
    --icon-size: 20px;
  }

  a {
    color: $primary;
  }

  .description {
    margin: 8px 0 15px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    button {
      width: 137px;
    }

    .cancel {
      border: 1px solid $primary;
    }
  }
}
